.*
.cloud/
.ha_run.lock
.storage
.vscode/
!/.github
!/.gitignore
!.HA_VERSION
backups
blueprints/
!blueprints/script/cvonk/
template/
image/
tts/
deps
@eaDir
secrets.yaml
custom_components*/
www/community/
www/fonts/
*.code-workspace
home-assistant.log*
HOWTO-root
service_account.json
