.*
.cloud/
.ha_run.lock
.storage
.vscode/
!/.github
!/.gitignore
!.HA_VERSION
service_account.json
secrets.yaml
@eaDir
*.code-workspace
home-assistant.log*
HOWTO-root
blueprints/
!blueprints/script/cvonk/
hidden/
template/
image/
tts/
deps
custom_components*/
www/community/
www/fonts/
