.*
.cloud/
.ha_run.lock
.storage
.vscode/
!/.github
!/.gitignore
!.HA_VERSION
blueprints/
!blueprints/script/cvonk/
hidden/
.ssh/
template/
image/
tts/
deps
custom_components*/
www/community/
www/fonts/
service_account.json
secrets.yaml
@eaDir
*.code-workspace
home-assistant.log*
HOWTO-root
home-assistant_v2.db*
known_devices.yaml
packages/fire-node-red-flows-copy.json
tmp.yaml
themes/Frosted Glass/Frosted Glass Dark Lite.yaml
themes/Frosted Glass/Frosted Glass Dark.yaml
themes/Frosted Glass/Frosted Glass.yaml
themes/Frosted Glass/Frosted Glass Lite.yaml
themes/Frosted Glass/Frosted Glass Light Lite.yaml
themes/Frosted Glass/Frosted Glass Light.yaml
themes/Frosted Glass/frosted-glass-light-background.jpg
simple.yaml
.gitignore
simple2.yaml
www/network.psd
www/tahoe_dark.jpg
esphome/archive/
packages/service_account.json